.exercises {
    margin-top: 15px;
    align-items: center;
}

/* .exercises-title {
    text-align: left;
    margin-top: 15px;
    margin: auto;
    width: 40%;
} */

.exercise-action-btn {
    text-align: center;
    width: 40%;
    padding: 15px;
    margin: auto;
    margin-top: 20px;
    background-color: #19252b;
    border-radius: 10px;
    cursor: pointer;
    color: rgb(231, 231, 231);
    font-size: large;
    font-weight: bold;
    transition: all;
    transition-duration: 300ms;
}

.exercise-action-btn:hover {
    background-color: #121e24;
    box-shadow: 1px 1px 20px rgb(11, 16, 22);
}
