.exercise-item {
    border: 1px solid white;
    border-radius: 10px;
    text-align: center;
    transition: all;
    transition-duration: 300ms;
    padding: 0;
    margin-bottom: 30px;
    height: 100%;
    width: 80%;
}

.exercise-item-add {
    border: 1px solid greenyellow;
    border-radius: 10px;
    text-align: center;
    color: white;
    transition: all;
    transition-duration: 300ms;
    font-weight: bold;

    padding: 25px;
    margin-bottom: 30px;
    height: 100%;
    width: 80%;
}

.exercise-item-add:hover {
    border: 1px solid white;
    background-color: rgb(34, 34, 34);
    color: greenyellow;
}

.exercise-item-parent {
    margin-top: 30px;
    margin-bottom: 30px;
}

/* .exercise-item-p {
   height: 100%;
   width: 100%;
} */

.exercise-item:hover {
    background-color: rgb(34, 34, 34);
}