<div class="sign-up-container">
  <div class="main-container" aria-live="polite">
    <p class="title">Registration</p>
    <form
      *ngIf="!signUpResponse?.data?.user?.aud"
      [formGroup]="signUpForm"
      (ngSubmit)="onSignUp()"
      class="form-widget"
    >
      <div class="sign-up">
        <label class="sign-up-label" for="email">Email: </label>
        <input
          id="email"
          formControlName="email"
          class="sign-up-input"
          type="email"
          placeholder="Your email"
        />
      </div>

      <div
        class="form-validation"
        *ngIf="
          signUpForm.controls['email'].invalid &&
          (signUpForm.controls['email'].dirty ||
            signUpForm.controls['email'].touched)
        "
      >
        Email is requried and must be vaild.
      </div>

      <div class="sign-up">
        <label class="sign-up-label" for="password">Password: </label>
        <input
          id="password"
          formControlName="password"
          class="sign-up-input"
          type="password"
          placeholder="Your password"
        />
      </div>

      <div
        class="form-validation"
        *ngIf="
          signUpForm.controls['password'].invalid &&
          (signUpForm.controls['password'].dirty ||
            signUpForm.controls['password'].touched)
        "
      >
        Password is required and must be at least 7 characters long.
      </div>

      <div>
        <button
          type="submit"
          [ngClass]="{
            'submit-btn-enabled': !signUpForm.invalid,
            'submit-btn-disabled': signUpForm.invalid
          }"
          [disabled]="signUpForm.invalid"
        >
          {{ loading ? "Loading" : "Sign up" }}
        </button>
      </div>
    </form>
    <div *ngIf="signUpResponse?.data?.user?.aud">
      <h3>
        Successful, link was sent on your e-mail, confirm your registration to
        login on your account.
      </h3>
    </div>
  </div>
</div>
