.sign-up-container {
  width: 100%;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  width: 40%;
  margin-top: 4rem;
  margin-left: auto;
  margin-right: auto;
}

.form-widget {
  width: 100%;
}

.title {
  color: rgb(223, 235, 238);
  font-weight: bold;
  font-size: 1.3rem;
  margin-bottom: 10px;
}

.form-validation {
  margin-top: 10px;
  color: tomato;
}

.sign-up {
  margin-top: 1rem;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  color: white;
}

.sign-up-label {
  font-weight: bold;
  margin-right: 3rem;
  margin-top: 3px;
  color: white;
}

.sign-up-input {
  color: white;
  background-color: rgb(41, 55, 68);
  transition: all;
  transition-duration: 300ms;
  cursor: pointer;
  width: 70%;
  padding-block: 5px;
  padding-inline: 10px;

  border-radius: 10px;
}

.sign-up-input::placeholder {
  color: rgb(174, 187, 194);
}

.sign-up-input:hover {
  width: 75%;
  background-color: rgb(74, 92, 109);
}

.submit-btn-enabled {
  margin-top: 1.5rem;
  color: white;
  background-color: rgb(41, 55, 68);
  transition: all;
  transition-duration: 300ms;
  cursor: pointer;
  width: 25%;
  padding-block: 5px;
  padding-inline: 10px;

  border-radius: 10px;
}

.submit-btn-disabled {
  margin-top: 1.5rem;
  color: rgb(144, 152, 155);
  background-color: rgb(28, 40, 51);
  transition-duration: 300ms;
  width: 25%;
  padding-block: 5px;
  padding-inline: 10px;

  border-radius: 10px;
}

.submit-btn-enabled:hover {
  width: 30%;
  background-color: rgb(74, 92, 109);
}

@media only screen and (max-width: 1050px) {
  .main-container {
    width: 70%;
  }

  .sign-up {
    width: 65%;
  }

  .submit-btn-enabled {
    width: 40%;
  }

  .submit-btn-disabled {
    width: 40%;
  }

  .submit-btn-enabled:hover {
    width: 45%;
  }
}

@media only screen and (max-width: 550px) {
  .main-container {
    width: 90%;
    margin-top: 15%;
  }

  .sign-up {
    width: 80%;
  }

  .submit-btn-enabled {
    width: 50%;
  }

  .submit-btn-disabled {
    width: 50%;
  }

  .submit-btn-enabled:hover {
    width: 55%;
  }
}
