<div class="sign-up-container">
  <div class="main-container" aria-live="polite">
    <p class="title">Login</p>

    <form [formGroup]="signInForm" (ngSubmit)="onSignIn()" class="form-widget">
      <div class="sign-up">
        <label class="sign-up-label" for="email">Email: </label>
        <input
          id="email"
          formControlName="email"
          class="sign-up-input"
          type="email"
          placeholder="Your email"
        />
      </div>

      <div
        class="form-validation"
        *ngIf="
          signInForm.controls['email'].invalid &&
          (signInForm.controls['email'].dirty ||
            signInForm.controls['email'].touched)
        "
      >
        Email is not vaild.
      </div>

      <div class="sign-up">
        <label class="sign-up-label" for="password">Password: </label>
        <input
          id="password"
          formControlName="password"
          class="sign-up-input"
          type="password"
          placeholder="Your password"
        />
      </div>

      <div
        class="form-validation"
        *ngIf="
          signInForm.controls['password'].invalid &&
          (signInForm.controls['password'].dirty ||
            signInForm.controls['password'].touched)
        "
      >
        Password must be at least 7 characters long.
      </div>

      <div>
        <button
          type="submit"
          [ngClass]="{
            'submit-btn-enabled': !signInForm.invalid,
            'submit-btn-disabled': signInForm.invalid
          }"
          [disabled]="signInForm.invalid"
        >
          {{ loading ? "Loading" : "Sign in" }}
        </button>
      </div>
    </form>
  </div>
</div>
