<div class="exercise-item">
  <fa-icon
    class="exercise-remove"
    [icon]="faTrash"
    (click)="onExerciseRemoveClick()"
  >
  </fa-icon>

  <div class="exercise-left">
    <div class="muscle-label">
      <h3 class="exercise-title">Muscle</h3>
      <h4 class="exercise-name">{{ exercise?.muscles?.name }}</h4>
    </div>
    <div class="equipment-label">
      <h3 class="exercise-title">Equipment</h3>
      <h4 class="exercise-name">{{ exercise?.equipments?.name }}</h4>
    </div>
  </div>

  <div class="exercise-right">
    <h4 *ngFor="let set of exerciseSets; let i = index">
      <div class="sets-label" *ngIf="i < 2">
        <h3 class="set-title">Set {{ i + 1 }}</h3>
        <div class="set-data-label">
          <span class="set-data-reps">- reps {{ set?.reps }}</span>
          <span class="set-data-weight">- weight {{ set?.weight }}kg </span>
        </div>
      </div>
    </h4>
    <h3 class="set-title-last" *ngIf="exerciseSets.length > 2">Set...</h3>
  </div>

  <div
    class="exercise-edit"
    [routerLink]="['/exercise-view']"
    [queryParams]="{
      exerciseId: exercise?.id?.toString(),
      exerciseIndex: index.toString()
    }"
  >
    Edit
    <fa-icon [icon]="faChevronRight"> </fa-icon>
  </div>
</div>
