.exercise-item {
    border: 1px solid white;
    border-radius: 10px;
    text-align: center;
    transition: all;
    transition-duration: 300ms;
    padding: 0;
    margin-bottom: 30px;
    height: 100%;
    width: 80%;
}

.exercise-item:hover {
    background-color: rgb(34, 34, 34);
}