.window-bg {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 10;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.alert-container {
  width: 100%;
  height: 100%;
  position: relative;
}

.alert-box {
  width: 30%;
  margin-top: 20%;
  margin-left: auto;
  margin-right: auto;
  z-index: 20;
  background-color: rgb(39, 42, 54);
  border-radius: 10px;
  padding: 10px;
  padding-bottom: 20px;
}

.alert-label {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.alert-close {
  right: 0;
  padding-top: 10px;
  padding-right: 15px;
  position: absolute;
  cursor: pointer;
  color: rgb(146, 151, 155);
}

.alert-close:hover {
  color: rgb(231, 231, 231);
}

.alert-box-title {
  padding-left: 15px;
  padding-top: 10px;
  font-weight: bold;
  text-align: left;
  width: 100%;
  color: rgb(231, 231, 231);
}

.alert-box-desc {
  padding: 5px;
  width: 100%;
  padding-left: 18px;
  font-weight: normal;
  text-align: left;
  color: rgb(146, 151, 155);
}

.selectables {
  margin-top: 10px;
  width: 100%;
}

.alert-box-selectable {
  width: 50%;
  padding-inline: 10px;
  padding-block: 2px;
  color: rgb(231, 231, 231);
  background-color: rgb(29, 31, 41);
  border-radius: 10px;
  cursor: pointer;
  transition: all;
  transition-duration: 300ms;
}

.alert-box-selectable:hover,
.alert-box-selectable:focus {
  width: 52%;
  background-color: rgb(69, 78, 88);
  border-radius: 10px;
}

.alert-box-selectable-title {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  padding-inline: 60px;
  text-align: left;
}

.alert-confirm-btn-enabled {
  margin-top: 1rem;
  font-weight: bold;
  width: 30%;
  padding: 5px;
  border-radius: 10px;
  background-color: rgb(88, 101, 116);
  color: rgb(194, 194, 194);
  cursor: pointer;
  transition: all;
  transition-duration: 300ms;
}

.alert-confirm-btn-enabled:hover:not([disabled]) {
  background-color: rgb(29, 31, 41);
  border-radius: 10px;
}

@media only screen and (max-width: 1124px) {
  .alert-box {
    width: 45%;
    margin-top: 30%;
    margin-left: auto;
    margin-right: auto;
  }

  .alert-box-selectable {
    width: 70%;
    margin-left: 20px;
  }

  .alert-box-selectable:hover,
  .alert-box-selectable:focus {
    width: 75%;
  }
}

@media only screen and (max-width: 750px) {
  .alert-box {
    width: 70%;
    margin-top: 30%;
    margin-left: auto;
    margin-right: auto;
  }

  .alert-box-selectable {
    width: 70%;
    margin-left: 20px;
  }

  .alert-box-selectable-title {
    padding-inline: 40px;
  }

  .alert-box-selectable:hover,
  .alert-box-selectable:focus {
    width: 75%;
  }
}

@media only screen and (max-width: 624px) {
  .alert-box {
    width: 80%;
    margin-top: 30%;
    margin-left: auto;
    margin-right: auto;
  }

  .alert-box-selectable-title {
    padding-inline: 20px;
  }

  .alert-box-selectable {
    width: 70%;
    margin-left: 20px;
  }

  .alert-box-selectable:hover,
  .alert-box-selectable:focus {
    width: 75%;
  }
}
