<div class="form-control">
  <button (click)="onCloseClick()">
    <fa-icon class="form-close" [icon]="faXmark"></fa-icon>
  </button>
  <label class="form-title" for="text">Training</label>
  <input
    class="form-input"
    type="text"
    name="text"
    [(ngModel)]="trainingName"
    id="text"
    placeholder="New training name"
  />
  <button
    [disabled]="trainingName === ''"
    [ngClass]="{
      'form-btn': trainingName !== '',
      'form-btn-disabled': trainingName === ''
    }"
    (click)="onAddClick()"
  >
    Add
  </button>
</div>
