<div class="exercise" >

    <h2>Exercise Name</h2>

    <div>
        <button class="exercise-item"> 
            <h3>Muscle:</h3>
            <h4 [ngStyle]="{'color': 'gray'}">{{exerciseData?.muscles?.name}}</h4>
        </button>
    
        <button class="exercise-item"> 
            <h3>Equipment</h3>
            <h4 [ngStyle]="{'color': 'gray'}">{{exerciseData?.equipments?.name}}</h4>
        </button>
    
        <button class="sets-label"> 
            <div class="sets-label-item" *ngFor="let set of setsData; let i = index">
                <h3>Set {{i + 1}}</h3>
                <h4 [ngStyle]="{'color': 'lightgray'}">Reps: {{set?.reps}}  /  Weight: {{set?.weight}} kg</h4>
            </div>
            <button class="sets-label-button"> 
                + New set
            </button>
        
        </button>

        <button routerLink="/training-view" class="exercise-item"> 
            <h4> Back </h4>
        </button>
    </div>

</div>