<div class="exercise" >

    <h2>Exercise Name</h2>

    <div>

      
        <button class="exercise-item"> 
            <h3>Muscle:</h3>
            <h5 [ngStyle]="{'color': 'gray'}">Chest</h5>
        </button>
    
        <button class="exercise-item"> 
            <h3>Equipment</h3>
            <h5 [ngStyle]="{'color': 'gray'}">Barbell</h5>
        </button>
    
        <button class="sets-label"> 
            <div class="sets-label-item">
                <h3>Set 1</h3>
                <h5 [ngStyle]="{'color': 'gray'}">Reps: 2</h5>
            </div>
            <div class="sets-label-item">
                <h3>Set 1</h3>
                <h5 [ngStyle]="{'color': 'gray'}">Reps: 2</h5>
            </div>
            <div class="sets-label-item">
                <h3>Set 1</h3>
                <h5 [ngStyle]="{'color': 'gray'}">Reps: 2</h5>
            </div>
        

            <button class="sets-label-button"> 
                + Add new
            </button>
        
        </button>

        <button routerLink="/training-view" class="exercise-item"> 
            <h4> Back </h4>
        </button>

    
    </div>

</div>