<app-set-dialog
  (onSetAdd)="onSetAdd($event)"
  (onSetEdit)="onSetEdit($event)"
  [changingDialog]="changingDialogActive"
></app-set-dialog>

<div class="exercise">
  <div class="exercise-title">
    <div class="exercise-title-name-t">{{ trainingData?.name }}</div>
    <fa-icon class="exercise-title-icon" [icon]="faAngleRight"> </fa-icon>
    <div class="exercise-title-name-e">Exercise {{ index + 1 }}</div>
  </div>

  <div class="main-items-label">
    <button
      class="back-btn"
      [routerLink]="['/training-view']"
      [queryParams]="{ trainingId: exerciseData?.training_id?.toString() }"
    >
      <fa-icon class="back-btn-icon" [icon]="faAngleLeft"> </fa-icon>
      Back
    </button>
    <button class="exercise-item">
      <h2>Muscle</h2>
      <select
        [(ngModel)]="muscleSelectValue"
        class="select-label"
        (change)="onMuscleEdit()"
      >
        <option
          class="select-option"
          *ngFor="let muscle of muscles"
          [value]="muscle?.id"
        >
          {{ muscle?.name }}
        </option>
      </select>
    </button>
    <button class="exercise-item">
      <h2>Equipment</h2>
      <select
        [(ngModel)]="equipmentSelectValue"
        class="select-label"
        (change)="onEquipmentEdit()"
      >
        <option
          class="select-option"
          *ngFor="let equipment of equipments"
          [value]="equipment?.id"
        >
          {{ equipment?.name }}
        </option>
      </select>
    </button>
  </div>

  <div class="sets-label" *ngIf="setsData">
    <h2>Sets</h2>
    <h3 *ngIf="setsData.length === 0" class="no-sets-info">
      No sets assigned, add your first set here.
    </h3>
    <div
      *ngFor="let set of setsData; let i = index"
      [ngClass]="{
        'sets-label-item': i !== setsData.length - 1,
        'sets-label-item-last': i === setsData.length - 1
      }"
    >
      <button class="sets-label-button" (click)="onEditSetSelect(i)">
        <h3 class="set-item-title">{{ i + 1 }}</h3>
        <h3 class="set-item-info">Reps: {{ set?.reps }}</h3>
        <h3 class="set-item-info">Weight: {{ set?.weight }} kg</h3>
      </button>

      <button class="set-remove-btn" (click)="onSetRemoveClick(set.id)">
        <fa-icon [icon]="faTrash"></fa-icon>
      </button>
    </div>
  </div>
  <button class="set-item-add" (click)="onSetDialogView()">+ Add set</button>
</div>
