* {
  padding: 0;
  margin: 0;
  font-family: var(--custom-font-family);
  border: none;
  box-sizing: border-box;
}

body {
  --custom-font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-family: var(--custom-font-family);
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: #121b1f;
  color: rgb(231, 231, 231);
}

.container
{
  width: 100%;
  height: 100%;
}

@media only screen and (min-width: 33.75em) {
  /* 540px */
  .trainings {
    width: 80%;
  }
}

@media only screen and (min-width: 60em) {
  /* 960px */
  .trainings {
    width: 75%;
    max-width: 60rem;
  }
}